body {
    margin: auto;
    font-family: 'Barlow';
    font-size: 22px;
}

div {
    text-align: center;
}

.container {
    display: block;
    text-align: center;
}

.rounded-button {
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-family: "Share Tech Mono";
    font-size: 22px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    background-color: #272774;
    color: white;
}

.prediction-text {
    color: #272774;
    font-family: Share Tech Mono;
    text-align: left;
    margin: auto;
}

#prediction-box {
    padding: 10px;
}

#drawing-board {
    outline: #272774 4px solid;
    border-radius: 15px;
}

#toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

#prediction-title {
    width: 300px;
}

#prediction-value {
    width: 200px;
}